<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Toolbar -->

<!-- Background image -->
<div class="p-5 text-center bg-image" style="
      background-image: url('https://www.linkpicture.com/q/jenn_1.png');
      height: 500px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    ">
</div>
<!-- Background image -->

<mat-card style="background-color: white;">
  <mat-card-content>
    <button mat-raised-button color="allMovies" style="margin-right: 10px; padding: 0px 30px;" type="button"
      class="btn btn-success" data-mdb-ripple-color="dark" routerLinkActive="mat-accent"
      routerLink="/ViewMovieList">Alla filmer<span class="mdc-button__ripple"></span></button>
    <button mat-raised-button color="toWatch" style="margin-right: 10px; padding: 0px 30px"
      routerLinkActive="mat-accent" routerLink="/ViewWatchListComponent">Vill se</button>
    <button mat-raised-button color="haveWatched" style="margin-right: 10px; padding: 0px 30px"
      routerLinkActive="mat-accent" routerLink="/ViewWatchedListComponent">Har sett</button>
  </mat-card-content>
</mat-card>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>