<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Toolbar -->

<h1>Welkome</h1>

<div>
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div style="padding-top: 10px;" class="container">
      <button class="nav-link" routerLinkActive="active" routerLink="/ViewMovieList">View Movie List</button>
      <button class="nav-link" routerLinkActive="active" routerLink="/ViewWatchListComponent">View Watch List</button>
      <button class="nav-link" routerLinkActive="active" routerLink="/ViewWatchedListComponent">View Watched
        List</button>
    </div>
  </nav>

  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <router-outlet></router-outlet>