.mat-allMovies {
    border: solid 2px grey;
    color: rgb(128, 128, 128);
}

.mat-toWatch {
    border: solid 2px gold;
    color: #fff;
}

.mat-haveWatched {
    border: solid 2px pink;
    color: #fff;
}
