<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Toolbar -->

<header>
 

  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://s.yimg.com/ny/api/res/1.2/lvKjs60WEnQNHSoCvC0H_A--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTQ4MQ--/https://media.zenfs.com/en/country_living_105/230fbda153eb656fc15fb5823f48cd0b');
      height: 400px;
      background-position: 50%;
      margin-top: 58px;
    "
  >
  </div>
  <!-- Background image -->
</header>

<h1>välkommen bitch</h1>

<div>
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div style="padding-top: 10px;" class="container">
      <button class="nav-link" routerLinkActive="active" routerLink="/ViewMovieList">View Movie List</button>
      <button class="nav-link" routerLinkActive="active" routerLink="/ViewWatchListComponent">View Watch List</button>
      <button class="nav-link" routerLinkActive="active" routerLink="/ViewWatchedListComponent">View Watched
        List</button>
    </div>
  </nav>



  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <router-outlet></router-outlet>