<div> </div>
<p>view-movie-list works!</p>

<div *ngFor="let item of this.data['unwatchedMovies']['_value']" style="display: inline-block">
    <a class="nav-link" routerLinkActive="active" 
    [routerLink]="['/ViewMovie', item.id]">
      <img style = "border: 3px solid green;" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{item.poster_path}}" alt=""></a>
    <div></div>
    <a class="nav-link" routerLinkActive="active" [routerLink]="['/ViewMovie', item.id]">{{item.title}}</a>
  </div>

  <div *ngFor="let item of this.data['moviesToWatch']['_value']" style="display: inline-block">
    <a class="nav-link" routerLinkActive="active" 
    [routerLink]="['/ViewMovie', item[0].id]">

      <img style = "border: 3px solid gold;" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{item[0].poster_path}}" alt=""></a>
    <div></div>
    <a class="nav-link" routerLinkActive="active" [routerLink]="['/ViewMovie', item[0].id]">{{item[0].title}}</a>
  </div>

  <div *ngFor="let item of this.data['watchedList']['_value']" style="display: inline-block">
    <a class="nav-link" routerLinkActive="active" 
    [routerLink]="['/ViewMovie', item[0].id]">

      <img style = "border: 3px solid pink;" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{item[0].poster_path}}" alt=""></a>
    <div></div>
    <a  class="nav-link" routerLinkActive="active" [routerLink]="['/ViewMovie', item[0].id]">{{item[0].title}}</a>
  </div>

